# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

smbot
.config
TaskFactory
mysock
exec/query_ip_addr
exec/id_card_test
